#header {
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, $primary, darken($primary, 30%));
    color: white;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, $primary, darken($primary, 30%));
    color: white;
    text-align: center;
}